  <div class="border rounded p-2 my-2">
    <!--
    <h2>Neuer Eintrag</h2>
    -->
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <!--
        <label for="content" class="form-label">Inhalt</label>
        -->
        <!--
        <input type="text" formControlName="content" class="form-control" id="content" aria-describedby="content">
        -->
        <textarea class="form-control" formControlName="content" id="content" aria-describedby="content" rows="3"></textarea>

      </div>
      <div class="mb-3">
        <!--
        <label for="animal_id" class="form-label">animal_id</label>
        -->
        <input type="hidden" formControlName="animal_id" class="form-control" id="animal_id" aria-describedby="animal_id" value="{{animal._id}}">
      </div>
      <button type="submit" [disabled]="!entryForm.valid" class="btn btn-primary">eintragen</button>
    </form>
  </div>
