<ng-template [ngIf]="showAnimal">
  <div *ngIf="animal">


<div class="container">

    <button routerLink="/animals-overview" class="btn btn-primary my-2">Zurück zur Übersicht</button>

  <div class="card my-2">
    <!--
    <img src="..." class="card-img-top" alt="...">
    -->
    <div class="card-body">
      <div class="d-flex d-flex justify-content-between">
          <h5 class="card-title">{{animal.name}}</h5>
        <div class="d-flex justify-content-end">
          <button type="button" (click)="deleteAnimal()" class="btn-close" aria-label="delete"></button>

        </div>
      </div>
    </div>
  </div>
    <app-calendar [animal]="animal">

    </app-calendar>


  <!--
  <div *ngIf="animal.entries">
    <app-entries [animal]="animal" [show_animal_name]="false"></app-entries>
  </div>
  -->
  <button routerLink="/animals-overview" class="btn btn-primary my-2">Zurück zur Übersicht</button>


</div>
</div>
</ng-template>
