<ng-template [ngIf]="showToDo">

<div class="card my-2">
  <div class="card-body">
    <div class="">
      <div class="d-flex justify-content-end">
        <button type="button" (click)="deleteToDo()" class="btn-close" aria-label="delete"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <ng-template [ngIf]="toDo.completed=='false'">
          <button type="button" (click)="checkToDo()" class="btn btn-link">
            <img src="/assets/svgs/square.svg">
          </button>
        </ng-template>
        <ng-template [ngIf]="toDo.completed=='true'">
          <button type="button" (click)="unCheckToDo()" class="btn btn-link">
            <img src="/assets/svgs/check-square.svg">
          </button>
        </ng-template>
      </div>
      <div class="col-10">
        {{toDo.content}}
      </div>
    </div>
  </div>
</div>
</ng-template>
