<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Stinah-Diary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--
        <li class="nav-item"><a class="nav-link" routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Welcome</a></li>
        -->

          <li class="nav-item"><a class="nav-link" routerLink="/animals-overview" routerLinkActive="active" ariaCurrentWhenActive="page">Tiere</a></li>

          <li class="nav-item"><a class="nav-link" routerLink="/entries-overview" routerLinkActive="active" ariaCurrentWhenActive="page">Einträge</a></li>


        <!--
        <li class="nav-item"><a class="nav-link" routerLink="/animal" routerLinkActive="active" ariaCurrentWhenActive="page">Animal</a></li>
        -->

        <li class="nav-item"><a class="nav-link" routerLink="/calendar" routerLinkActive="active" ariaCurrentWhenActive="page">Kalender</a></li>


        <li class="nav-item"><a class="nav-link" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a></li>
        <!--
        <li class="nav-item"><a class="nav-link" routerLink="/debugger" routerLinkActive="active" ariaCurrentWhenActive="page">Debugger</a></li>
        -->
        <li class="nav-item"><a class="nav-link" routerLink="/notification-setting" routerLinkActive="active" ariaCurrentWhenActive="page">Notification</a></li>

      </ul>
    </div>
  </div>
</nav>
