<div class="container">

  <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-5 text-center">
      <a routerLink="/animals-overview" type="button" class="btn btn-light border border-5 rounded padding-3" style="width: 100%;">
        <img src="/assets/svgs/horse.svg" class="img-fluid padding-3" style="width: 80%; height: 100px;">
      </a>
      <br>
      Tiere

    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-5 text-center">
      <a routerLink="/entries-overview" type="button" class="btn btn-light border border-5 rounded padding-3" style="width: 100%;">
        <img src="/assets/svgs/list-task.svg" class="img-fluid padding-3" style="width: 80%; height: 100px;">
      </a>
      <br>
      Einträge

    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-5 text-center">
      <a routerLink="/calendar" type="a" class="btn btn-light border border-5 rounded padding-3" style="width: 100%;">
        <img src="/assets/svgs/calendar-week.svg" class="img-fluid padding-3" style="width: 80%; height: 100px;">
      </a>
      <br>
      Kalender

    </div>


    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-5 text-center">
      <a routerLink="/to-dos/work" type="button" class="btn btn-light border border-5 rounded padding-3" style="width: 100%;">
        <img src="/assets/svgs/ui-checks.svg" class="img-fluid padding-3" style="width: 80%; height: 100px;">
      </a>
      <br>
      To-Dos

    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-5 text-center">
      <a routerLink="/to-dos/vet" type="button" class="btn btn-light border border-5 rounded padding-3" style="width: 100%;">
        <img src="/assets/svgs/medikit.svg" class="img-fluid padding-3" style="width: 80%; height: 100px;">
      </a>
      <br>
      Arzt

    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-5 text-center">
      <a routerLink="/to-dos/shop" type="button" class="btn btn-light border border-5 rounded padding-3" style="width: 100%;">
        <img src="/assets/svgs/cart.svg" class="img-fluid padding-3" style="width: 80%; height: 100px;">
      </a>
      <br>
      Einkaufen

    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-5 text-center">
      <a routerLink="/notification-setting" type="button" class="btn btn-light border border-5 rounded padding-3" style="width: 100%;">
        <img src="/assets/svgs/bell.svg" class="img-fluid padding-3" style="width: 80%; height: 100px;">
      </a>
      <br>
      Benachrichtigung

    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-3 mb-5 text-center">
      <a routerLink="/notification-setting" type="button" class="btn btn-light border border-5 rounded padding-3" style="width: 100%;">
        <img src="/assets/svgs/sliders2.svg" class="img-fluid padding-3" style="width: 80%; height: 100px;">
      </a>
      <br>
      Einstellungen

    </div>

  </div>

</div>
