<div class="container">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Zuletzt aktualisiert</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of animals">
      <td>
        <button routerLink="/animal/{{animal._id}}" class="btn btn-primary w-100">{{animal.name}}</button>
      </td>
      <td>
        <ng-template [ngIf]="animal.updatedAt !== undefined">
            {{animal.updatedAt.toLocaleDateString("de")}}
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
</div>

<app-animal-form (newAnimalEvent)="addAnimal($event)"></app-animal-form>
