<div class="container">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Zuletzt aktualisiert</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of animals">
      <td>
        {{animal.name}}
      </td>
      <td>
        {{animal.updatedAt}}
      </td>
      <td>
        <button routerLink="/animal/{{animal._id}}" class="btn btn-primary">View</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<app-animal-form></app-animal-form>
