<div class="container">

<table class="table">
  <thead>
    <tr>
      <th scope="col"><button (click)="sortAnimalsByName()" class="btn btn-success">Name</button></th>
      <th scope="col"><button (click)="sortAnimalsByUpdatedAt()" class="btn btn-success">Zuletzt aktualisiert</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of animals">
      <td>
        <button routerLink="/animal/{{animal._id}}" class="btn btn-primary w-100">{{animal.name}}</button>
      </td>
      <td>
        <ng-template [ngIf]="animal.updatedAt !== undefined">
            {{animal.updatedAt.toLocaleDateString("de")}} - {{animal.updatedAt.toLocaleTimeString("de")}}
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
</div>

<app-animal-form (newAnimalEvent)="addAnimal($event)"></app-animal-form>
