<ng-template [ngIf]="showEntry">

  <div class="card my-2">
    <!--
    <img src="..." class="card-img-top" alt="...">
    -->
    <div class="card-body">
      <div class="d-flex d-flex justify-content-between">
        <ng-template [ngIf]="entry.updatedAt">
          <div class="d-flex justify-content-start">
              <strong class="mr-2">Datum: </strong> {{entry.updatedAt.toLocaleDateString("de", { timeZone: 'UTC'})}} - {{entry.updatedAt.toLocaleTimeString("de")}}
          </div>
        </ng-template>
        <div class="d-flex justify-content-end">
          <button type="button" (click)="deleteEntry()" class="btn-close" aria-label="delete"></button>

        </div>
      </div>
      <hr>
      <p class="card-text">
        {{entry.content}}
      </p>
      <div *ngIf="show_animal_name">
        <div *ngIf="entry.animal">
          <hr />
          <p class="card-text">
            <strong>Tier: </strong><a routerLink="/animal/{{entry.animal?.['_id']}}">{{entry.animal['name']}}</a>
          </p>
        </div>
      </div>

      <!--
      <button (click)="deleteEntry()" class="btn btn-danger">Eintrag löschen</button>
      -->
    </div>
  </div>



  <div *ngFor="let image of entry.images">
    <ng-template [ngIf]="image">

      <div *ngIf="image.key">
        {{image.key}} - {{image.url}}
        <img src="{{image.key}}">
      </div>
      <app-image [image_url]="image.name" ></app-image>
    </ng-template>
  </div>

  <app-file-form [parent]="entry"></app-file-form>



</ng-template>
