<div class="container">

  <div class="card my-3">
    <div class="card-body">
      <p>
        <strong>Benachrichtungs-Status: </strong> {{does_subscription_exists}}
      </p>
    </div>
  </div>


  <div class="card my-3">
    <div class="card-body">
      <div >
        <button (click)="requestSubscription()" class="btn btn-primary">Benachrichtigungen einrichten</button>
      </div>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-body">
      <div >
        <button (click)="unsubscribe()" class="btn btn-danger">Benachrichtigungen abschalten</button>
      </div>
    </div>
  </div>

  <button (click)="sendNotification()" class="btn btn-primary my-3">Test-Nachricht schicken</button>

  <hr>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Täglich Updates per e-Mail bekommen
    </label>
  </div>
  <hr>

</div>
