<div class="container-fluid">
  <h1>Kalender</h1>

<div class="text-center">
  <div class="row my-3">
    <div class="col">
      <button class="btn btn-primary" (click)="getPreviousMonth()">
        <img src="/assets/svgs/arrow-left.svg">
       </button>

    </div>
    <div class="col">
      {{selected_month_date.toLocaleString("de", { month: "long" })}} {{selected_month_date.getFullYear()}}
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="getNextMonth()">
        <img src="/assets/svgs/arrow-right.svg">
       </button>

    </div>
  </div>
</div>
<table class="table table-bordered text-center">
<thead>
  <tr>
    <th scope="col">Mon</th>
    <th scope="col">Tue</th>
    <th scope="col">Wed</th>
    <th scope="col">Thu</th>
    <th scope="col">Fri</th>
    <th scope="col">Sat</th>
    <th scope="col">Sun</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let week of weeks">
    <td *ngFor="let date of week" [ngClass]="
    {
    'table-warning' : date.selected == true,
    'table-secondary' : date.date.getUTCMonth() != selected_month_date.getUTCMonth(),
     'table-info' : (date.date.getUTCMonth() == today_date.getUTCMonth()) && (date.date.getUTCDate() == today_date.getUTCDate()),
     'table-success' : date.entries_exist == true
   }"
    (click)="selectDate(date)"
    >
      {{date.date.getUTCDate()}}
    </td>
  </tr>
</tbody>
</table>

  <!--
    <div class="mb-3">
      <label for="start">
        Datum auswählen:
      </label>
      <br>
      <br>
      <input type="date" [formControl]="date" value="{{date.value}}">
    </div>

    <button (click)="getEntriesByDate()" class="btn btn-primary">Suchen</button>
    -->
    <div *ngIf="selected_date"class="text-center">
      Ausgewähltes Datum: {{selected_date?.getUTCDate()}}.{{selected_date?.getUTCMonth()}}.{{selected_date?.getUTCFullYear()}}
    </div>



    <div *ngFor="let entry of entries">
      <ng-template [ngIf]="entry._id !== undefined">
          <app-entry [input_entry_id]="entry._id"></app-entry>
      </ng-template>
    </div>

    <div *ngIf="entries.length === 0">
        Nichts gefunden.
    </div>

</div>
