<div class="container">
  <h1>Einträge</h1>
  <div class="mb-3">
    <input type="text" class="form-control" [formControl]="search_string" placeholder="Suchen..." aria-describedby="search_string">
  </div>
<div class="mb-3">
  <label for="start">Datum auswählen: </label>

  <input type="date" id="start" name="trip-start">
</div>

  <br>
  <button (click)="searchEntries()" class="btn btn-primary">Suchen</button>

  <div *ngFor="let entry of entries">
    <ng-template [ngIf]="entry._id !== undefined">
        <app-entry [input_entry_id]="entry._id"></app-entry>
    </ng-template>

  </div>

  <div *ngIf="entries.length === 0">
      Nichts gefunden.
  </div>

</div>
